.FBReader
.ICEauthority
.Skype
.Xauthority
.Xdefaults
.adobe
.bash_aliases_for_work
.bash_history
.bash_logout
.bashrc
.cache
.config
.dbus
.dmrc
.eclipse
.gconf
.gimp-2.8
.git
.gitconfig
.gksu.lock
.gnome
.gnome2
.gnome2_private
.gnupg
.gstreamer-0.10
.hplip
.java
.jmc
.lastpass
.launchy
.lesshst
.local
.macromedia
.mozilla
.mysql
.mysql_history
.nagstamon
.pam_environment
.pki
.profile
.puppet
.purple
.recently-used
.shutter
.snmp
.ssh
.thumbnails
.thunderbird
.vagrant
.vagrant.d
.vim
.viminfo
.wine
.xinputrc
.xscreensaver
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh_history
.zshrc
Desktop
Downloads
Music
Pictures
VirtualBox\ VMs
history.db
launchy.db
launchy.ini
skypecli
vmshared
weby-icon-cache
work
